.App {
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border: 1px solid midnightblue;
  align-items: center;
  justify-content: center;
  margin: 5%;
  padding: 5%;
}

.menu{
  width: 100%;
}

.tasks{
  align-items: center;
  width: 50%;
}
